<form [formGroup]="validationForm">
    <input 
        type="text" 
        name="name" 
        required minlength="4" 
        formControlName="name"
        placeholder="Enter name"
    />
    <div *ngIf="name?.invalid && (name?.dirty || name?.touched)">
        <div *ngIf="name?.errors?.['required']" class="error">
            Name is required
        </div>
        <div *ngIf="name?.errors?.['minlength']" class="error">
            Name must be atleast 4 characters long
        </div>
    </div>
</form>
